<% include partials/header %>

    <h1>Index</h1>
    <div class="ui main container segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="content">
                        <div class="ui attached blue segment header">
                            <h2>
                                <%= blog.title %>
                            </h2>
                        </div>                        
                        <img class="ui centered rounded medium image" src="<%= blog.image %>">
                        
                        <div class="meta">
                            <span>
                                <%= blog.created.toDateString() %>
                            </span>
                        </div>
                        <p>
                            <%- blog.body.substring(0,100) %>
                                <% if(blog.body.length >= 100) { %>
                                    ...
                                    <% } %>
                        </p>
                        <div class="extra">
                            <a class="ui right floated primary basic button" href="blogs/<%= blog._id %>">Read more
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <% });%>
        </div>
    </div>
    <% include partials/footer %>